# Don't want to commit object files
**/git.properties
**/build/*
**/target/*
**/upload/*
**/.idea/*
**/dependency-reduced-pom.xml
**/catalina.home_IS_UNDEFINED

# IntelliJ IDEA artifacts, see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
**/.idea/*
**/*.iws
*.iml

# Eclipse IDEA artifacts
**/*.prefs
**/*.project
**/*.gitignore
**/*.classpath
**/dependency-reduced-pom.xml

# macOS Finder artifacts
**/.DS_Store

# Maven artifacts (i.e. object files)
**/target/*

# Tomcat artifacts
Apromore-Clients/manager-client/catalina.home_IS_UNDEFINED
Apromore-Core-Components/Apromore-Portal/catalina.home_IS_UNDEFINED

# Unpacked application server
Apromore-Assembly/Editor-Repository
Apromore-Assembly/Event-Logs-Repository
Apromore-Assembly/Filestore-Repository
Apromore-Assembly/Lucene-Repository
Apromore-Assembly/Manager-Repository*
Apromore-Assembly/virgo-tomcat-server-3.6.4.RELEASE

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Vim ###
# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

.vscode
